<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Checker</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% csrf_token %}

    <link rel="stylesheet" href="{% static 'GitChecker/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'GitChecker/res/favicon.png' %}" >
    <script src="{{STATIC_URL}}/static/GitChecker/js/themes.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex header-padding">
                <h3>
                    <a class="custom-link" href="/">
                        <!-- <img class="upper-left-logo" src="{% static 'GitChecker/res/mrl.png' %}"> -->
                        Git Checker
                    </a>
                </h3>
            </div>
            
            <div class="col d-flex justify-content-end">
                <nav class="navbar navbar-expand-md navbar-dark d-flex justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item ms-auto">
                                <a class="nav-link" href="/tests_charts">Charts</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link" href="/commits/1">Commits</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link" href="/tests/1">Tests</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link" href="/repos/1">Repositories</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link" href="/logout">Log out</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <div class="theme-switch-wrapper">
                                    <label class="theme-switch" for="checkbox">
                                        <input type="checkbox" id="checkbox"></input>
                                        <div class="slider round"></div>
                                    </label>
                               </div>                              
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <script>
        initialize();   
    </script>
</body>