<!DOCTYPE html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}/static/GitChecker/js/themes.js"></script>
</head>
<body>
    {% include "GitChecker/base.header.html" %}

    <div class="outer-frame table-frame">
        <div>
            {% include "GitChecker/base.search.bar.html" %}

            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="row">Repository</th>
                        <th scope="col">Author</th>
                        <th scope="col">Message</th>
                        <th scope="col">Commit</th>
                    </tr>
                </thead>

                <tbody>
                    {% for commit in current_page %}
                    <tr>
                        <th scope="col"> 
                            <a class="custom-link" href="/repo/{{commit.repository.id}}">
                                {{commit.repository.repo_name}}
                            </a>
                        </th>
                        <td>
                            {{commit.author_name}}
                        </td>
                        <td>
                            {{commit.commit_message}}
                        </td>
                        <td>                      
                            <a class="tiny-logo-link" href="{{commit.commit_url}}" target="_blank">
                                {% if theme == 'light' %}
                                    <img class="tiny-logo-img" src="{{STATIC_URL}}/static/GitChecker/res/github-mark-black.png"/> 
                                {% else %}
                                    <img class="tiny-logo-img" src="{{STATIC_URL}}/static/GitChecker/res/github-mark-white.png"/> 
                                {% endif %}
                            </a>  
                            {{commit.timestamp}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "GitChecker/base.paginator.html" %}

    <script type="text/javascript">
        $(document).ready(function() {
            initializeToggleListener();
        });
    </script>
</body>

