<!DOCTYPE html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}/static/GitChecker/js/themes.js"></script>
</head>
<body>
    {% include "GitChecker/base.header.html" %}

    <div class="outer-frame table-frame">
        <div>
            <table class="table table-dark table-striped" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th scope="row">Repository</th>
                        <th scope="col">Latest test</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in current_page %}
                    <tr>
                        <th scope="col">                        
                            <a class="tiny-logo-link" href="{{entry.0.url}}" target="_blank">
                                {% if theme == 'light' %}
                                    <img class="tiny-logo-img" src="{{STATIC_URL}}/static/GitChecker/res/github-mark-black.png"/> 
                                {% else %}
                                    <img class="tiny-logo-img" src="{{STATIC_URL}}/static/GitChecker/res/github-mark-white.png"/> 
                                {% endif %}                          
                            </a>              
                            <a class="custom-link" href="/repo/{{entry.0.id}}">
                                {{entry.0.repo_name}}
                            </a>
                        </th>           
                        <td>
                            {% if entry.1 == -1 %}
                                No tests found
                            {% else %}                
                                <a class="custom-link" href="/test/{{entry.1.id}}">
                                    {{entry.1.timestamp}}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "GitChecker/base.paginator.html" %}

    <script type="text/javascript">
        $(document).ready(function() {
            initializeToggleListener();
        });
    </script>
</body>

