<!DOCTYPE html>
<html>
    {% include "GitChecker/base.header.html" %}

    <div class="outer-frame table-frame">
        <div>
            {% include "GitChecker/base.search.bar.html" %}

            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="row">Repository</th>
                        <th scope="col">Parameter set</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>

                <tbody>
                    {% for test in current_page %}
                    <tr>
                        <th scope="col"> 
                            <a class="custom-link" href="/repo/{{test.commit.repository.id}}">
                                {{ test.commit.repository.repo_name }}
                            </a>
                        </th>
                        <td onclick="location.href='/test/{{test.id}}';" style="cursor: pointer;">
                            {% if test.params %}
                                {{ test.params.param_name }}
                            {% else %}
                                set deleted
                            {% endif %}
                        </td>
                        <td onclick="location.href='/test/{{test.id}}';" style="cursor: pointer;">    
                            {{test.timestamp}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "GitChecker/base.paginator.html" %}
</html>

